{% extends "base.html" %}
{% block titulo %} Bienvenido a MyWallapop {% endblock %}
{% block contenido_principal %}

    <style>
        h1 {
            font-family: "Segoe UI Light";
            font-weight: bold;
            font-size: 60px;
        }
    </style>


    <body background="/img/wallp.png">
    <h1 style="text-align: center;">- Bienvenido a MyWallapop -</h1>
    <div style="display: flex; justify-content: center;">
        <img align="center" src="/img/nyc.png" width="1000px" height="625px" alt="main-image">
    </div>

    </body>
{% endblock %}
