{% extends "base.html" %}
{% block titulo %} MyWallapop {% endblock %}
{% block contenido_principal %}

<h1 style="text-align: left;">Ofertas Disponibles</h1>
<p style="margin-top: 25px;">
    <div id="custom-search-input ">
        <form method="get" action="/tienda">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre de la oferta" name="busqueda"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</p>

{% if ofertas.length == 0 %}
    <p style="margin-top: 25px;">No hay ofertas disponibles.</p>
{% else %}
    <div class="table-responsive" style="margin-top: 30px">
        <table class="table table-hover" id="tableUsers">
            <thead>
            <tr>
                <th style="text-align: center">Título</th>
                <th style="text-align: center">Detalles</th>
                <th style="text-align: center">Precio</th>
                <th></th>
            </tr>
            </thead>
            {% for oferta in ofertas %}
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <tr>
                        <td style="text-align: center"> {{ oferta.title }}</td>
                        <td style="text-align: center"> {{ oferta.details }}</td>
                        <td style="text-align: center"> {{ oferta.price }}</td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-info" style="text-align: center">Comprar</button>
                        </td>
                    </tr>
                </div>
            {% endfor %}
        </table>
    </div>
    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for pagina in paginas %}
            <li class="page-item" id="pi-{{ pagina}}">
                <a class="page-link" href="/tienda?pg={{ pagina }}">{{ pagina }}</a>
            </li>
            {% endfor %}
            <script>
                $("#pi-{{ actual}}").addClass("active");
            </script>
        </ul>
    </div>
{% endif %}
{% endblock %}
