{% extends "base.html" %}
{% block titulo %} Usuarios del sistema {% endblock %}
{% block contenido_principal %}

<style>
    button {
        border-radius: 25px;
        background-color: lavenderblush;
        width: 150px;
        height: 40px;
        font-family: "Calibri";
        font-weight: bold;
        font-size: 16px;
    }
</style>

<h1>Usuarios</h1>
<form action="/usuario/eliminar" method="post">
    {% if usuarios.length == 1 %}
        <p>No hay usuarios en el sistema.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-hover" id="tableUsers">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">Nombre</th>
                    <th style="text-align: center">Apellidos</th>
                </tr>
                </thead>
                {% for usuario in usuarios %}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        {% if usuario.role != "admin" %}
                        <tr>
                            <td style="text-align: center">
                                <input type="checkbox" value="{{ usuario._id.toString() }}" id="cb{{ usuario.email }}" name="checkboxes">
                            </td>
                            <td style="text-align: center"> {{ usuario.email }}</td>
                            <td style="text-align: center"> {{ usuario.name }}</td>
                            <td style="text-align: center"> {{ usuario.surname }}</td>
                        </tr>
                        {% endif %}
                    </div>
                {% endfor %}
            </table>
            <div>
                <button type="submit" id="deleteButton">Eliminar</button>
            </div>
        </div>
    {% endif %}
</form>
{% endblock %}
